
:root{
    --bg-color: #F6D6D6 ;
    --primary-color: #f7c8cf;
    --secondary-color: #FFDA76;
    --hg-color: #FF4E88;

    background-color: white;
    
   
   }


   div.carouselExampleCaptions{
    background-color: var(--hg-color);
    font-family: "Sour Gummy", sans-serif;
   }

   h1{
    font-size: 55px;
    /* background-color: var(--primary-color); */
    font-family: "Sour Gummy", sans-serif;
    text-align: center;

   }
   h5{
    font-size: 20px;
    
    font-family: "Sour Gummy", sans-serif;
    text-align: center;

   }
   p{
   
    font-family: "Sour Gummy", sans-serif;
    text-align: center;
   }

   /* .card-container{
    background-color: var(--hg-color);
   } */

   .boton-container{
    background-color: var(--hg-color);
    font-family: "Sour Gummy", sans-serif;
    display: flex;
   text-align: center;
   justify-content: center;
   border-color: var(--hg-color);
   
    
   }
   
   label{
    font-size: 25px;
    font-family: "Sour Gummy", sans-serif;
    text-align: center;
   }

   .btn-custom:active{
     background-color:var(--primary-color); /* Color del botón al ser seleccionado */
    
    }

   /* .productos-container{
    background-color: var(--primary-color);
   } */

   .card-img-top{ 
    width: 100%;
     height: 200px; 
     object-fit: cover; /* Mantiene la proporción de la imagen dentro del contenedor */
    
   }
   .image-container{
    width: 450px;
    height: 560px ; 
    object-fit: cover;
   }

   .carousel-item img {
    width: 100%;
    height: 350px; /* Altura fija para todas las imágenes */
    object-fit: cover; /* Mantiene la proporción de la imagen dentro del contenedor */
  }
   .card{
    background-color: var(--primary-color);
   }

   a{
    color: #FFDA76;
   }

   .navbar-container{
    /* background-color: var(--primary-color); */
    font-family: "Sour Gummy", sans-serif;
    
  
   }